@import './helpers/variables';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: $sixth-fz;
    color:$primary;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
